body{
  background-color: #dcdcde;
}
#empty{
    width: 80%;
    height: 200px;
    /* border: 1px solid black; */
    margin: auto;
}
#empty img{
    width: 200px;
    display: block;
    margin: auto;
    margin-top: 100px;
}
#empty p{
    text-align: center;
    font-style: strong;
}
.card{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    /* border: 1px solid red; */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  
  }
  .card>div  {
      width: 90%;
      margin: 10px;
  
  }
  .card>div>img{
      width: 100%;
  }
  .pro{
      border: 1px solid rgb(226, 226, 226);
      border-radius: 5px;
      padding: 5px;
  }
  .pro>img{
      border-radius: 5px;
  }
  button{
    background-color: #008ecc;
    color: white;
    border: 0px;
    border-radius: 5px;
    padding: 5px;
  }
  .con{
    width: 90%;
    height: auto;
    display: flex;
    /* border: 1px solid black; */
    margin: auto;
    justify-content: space-evenly;
    margin-top: 20px;
  }
  .total{
    width: 25%;
    height: auto;
    /* border: 1px solid red; */
    color: #008ecc;
    padding: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
  .total span{
    color: black;
  }
  button:hover{
    cursor: pointer;
 }

 .total>button{
    width: 150px;
    padding: 15px;
    margin: 10px 2px 10px 100px;
 }
    
 #footer{
    text-align: center;
background-color:#f7f7f7; 
width: 100%;
height: 1200px;
margin-top: 20px;
   } 
   #first{

    width:100%;
    height: auto; 
    display: flex; 
    margin: auto; 
   gap: auto; 
   text-align: center; 
   padding: auto; 
   } 
   #one{

    width: 25%;
    height: auto; 
    margin-left: 50px; 
    text-align: left;
   } 
   .grids{
    grid-template-columns: repeat(5,minmax(0,1fr)); 
    display: grid;
}      
a{
color: black;
}
  #sub{
    border-radius: 5px; 
    border: 2px solid grey; 
    width: 100%; 
    height: 40px;
  }  
  button{
    background-color:blue;
    width: 100%; 
    height: 50px;
    color: white; 
    border-radius: 5px; 
    border: 1px solid white;
  } 
  img{
    width: 50%; 
    height: 50px;
  } 

  a{
    text-decoration: none;
  }
  #shop{
    display: block;
    text-align: center;
    font-size: x-large;
    color: #008ecc;
  }
  #shop:hover{
    text-decoration: underline;
  }
  p{
    text-align: center;
  }
  #last_min{
    width: 90%;
    height: auto;
    /* border: 1px solid red; */
    margin: auto;
   border-radius: 10px;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 20px;
    padding: 20px;
  }
  .carditem{
    /* border: 1px solid black; */
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  }
  .carditem>img{
    width: 100%;
    height: 200px;
    margin-top: 10px;
  }
  #rate{
    width: 100%;
    height: 50px;
  }
  .carditem>button{
    display: block;
    margin: auto;
    width: 90%;
    border: 3px solid #dcdcde;
    background-color: white;
    color:#07425b;
    margin-bottom: 10px;
    font-size: medium;
    font-weight: bold;

  }
  .carditem>button:hover{
    cursor: pointer;
    background-color: #07425b;
    color: white;
  }
  .carditem>h3{
    text-align: center;
  }
  .carditem>p:hover{
    text-decoration: underline;
   cursor: pointer;
    color: #176383;
  }